body{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
    background: linear-gradient(135deg,#0B1120,#152238,#1E3A8A);
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

.logo{
    color: white;
    font-weight: 550;
    margin: 14px 0;
}

.hum-burger{
    display: none;
}

.close{
    display: none;
}

.chart-box{
    width:100%;
    height:420px;
    position:relative;
    background: white;
}

canvas{
    width:100% !important;
    height:100% !important;
    background: linear-gradient(135deg,#0B1120,#152238,#1E3A8A);
}



h2{
    color: #0b1120;
    text-align: center;
}

.nav-contanier{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(135deg,#0B1120,#152238);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.navigation {
    gap: 24px;
    display: flex;
}

.nav-link{
    color:#CBD5E1;
    text-decoration: none;
}

hr{
    margin: 0;
}

.search-container{
    width:90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    justify-self: anchor-center;

}

.search-container form {
    display: flex;
    gap: 15px;
    width: 100%;
    max-width: 700px;
    justify-content: center;
}

.search-input {
    outline: none;
    padding: 12px 18px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    width: 50%;
}

.page{
    position: relative;
    z-index: 0;
}

.dashboard-container{
    margin: 5%;
}


.dashboard{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.card{
    display: grid;
    text-align: center;
    background: white;
    border-radius: 5px;
    padding: 0 14px 10px 14px;
}

.card h3{
    color: oklch(47.3% 0.137 46.201);
}

.card span{
    color: oklch(28.2% 0.091 267.935);
    font-weight: 700;
    position: relative;
    top: -10px;
}

.graph-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 50px;
    margin: 50px;
}

.graph-box img{
    padding-bottom: 20px;
}

.graph-box img:nth-child(odd){
    position: relative;
    right: -60px;
}

.graph-box img:nth-child(even){
    position: relative;
    left: -60px;
}


.fund-data .list{
    display: grid;
}

.fund-data ul li:nth-child(odd){
    color: oklch(47.3% 0.137 46.201);
    font-weight: 700;
    font-size: 12px;
}

.fund-data ul li:nth-child(even){
    color: oklch(28.2% 0.091 267.935);
    font-weight: 800;
    font-size: 16px;
    padding-bottom: 10px;
}

.middle-list{
    position: relative;
    left: -18px;
    display: flex !important;
    justify-content: space-between;
}


.form {
    background: white;
    width: 32%;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0px 0px 100px rgb(16 5 0 / 67%);
    text-align: center;
    align-content: center;
    justify-items: center;
    justify-self: center;
    margin: 10% 0;
}

.recommend-input{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input, select,option {
    color: #586677;
    padding: 10px;
    margin: 14px;
    border: 2px solid oklch(47.3% 0.137 46.201);
    border-radius: 5px;
}

.input::placeholder, option,select{
    color: #586677;
    font-size: 14px;
}

option:active:hover, select:active:hover{
    background: linear-gradient(135deg,#0B1120,#152238,#1E3A8A);
}


.button {
    background: linear-gradient(135deg,#0B1120,#152238,#1E3A8A);
    padding: 14px;
    margin: 18px 0;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 7px 10px oklch(0 0 0);
}

.invest{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}


.invest-result{
    margin: 2% auto;
}


.upper-list {
    position: relative;
    left: -14px;
}

.fund-detail {
    background: white;
    width: 25%;
    padding-bottom: 14px ;
    justify-self: center;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 100px rgb(16 5 0 / 67%);
}

.view-fund-detail{
    border-radius: 0;
    margin: 0;
    width: 100%;
    padding-bottom: 0;
}

.view-fund-detail .button{
    margin-top: -4px;
}

.fund-data ul li{
    list-style: none;
    color:#0b1120;
}

.upper-list, .lower-list, .amount-data{
    display: flex;
    justify-content: space-between;
}

.fund-button {
    display: flex;
    justify-content: space-evenly;
}

.upper-list-info {
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 20px;
}

.fund-main-info{
    display: flex;
    justify-content: space-between;
}

.lower-list-info{
    position: relative;
    left: -40px;
}

.fund-main-info ul li:nth-child(odd){
    color: oklch(47.3% 0.137 46.201);
    font-weight: 700;
    font-size: 14px;
}

.fund-main-info ul li:nth-child(even){
    color: oklch(28.2% 0.091 267.935);
    font-weight: 800;
    font-size: 16px;
}

.chart{
    justify-self: center;
}

.view-details {
    padding: 4%;
    margin: 5% 0;
    display: flex;
    gap: 4%;
    align-items: center;
}

.predict-result {
    display: flex;
    justify-content: space-evenly;
    margin: 10% 0;
}

.predict-container{
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.prediction {
    background: white;
    justify-self: anchor-center;
    padding: 20px 42px;
    box-shadow: 0px 0px 100px rgb(16 5 0 / 67%);
}

.return{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.return h3{
    color: oklch(47.3% 0.137 46.201);
}

.return p{
    color: oklch(28.2% 0.091 267.935);
    text-align: right;
    font-weight: 700;
}

.sentiment-container {
    background: white;
    padding: 0px 10px 10px 32px;
}

.sentiment-heading {
    color: #0b1120;
    padding: 18px 0px 0px 0px;
    font-weight: 700;
    font-size: 18px;
}

.sentiments{
    color: oklch(47.3% 0.137 46.201);
}

.close{
    display: none;
    cursor: pointer;
}



@media (max-width: 1024px) {
    .card{
        padding: 0 8px 5px 8px;
    }

    .invest{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }

    .fund-detail {
        width: 25%;
        padding: 5px;
        margin: 32px 0;
    }

    .upper-list {
        position: relative;
        right: 20px;
    }

    .form{
        padding: 20px 60px;
    }
    .view-details{
        display: block;
    }
}


@media (max-width: 768px) {
    .logo{
        font-size: 24px;
    }
    .hum-burger{
        display: block;
        cursor: pointer;
    }
    .navigation {
        display: none;
    }
    .navigation.active{
        right: -20px;
        width: 90px;
        position: absolute;
        top: 35px;
        float: right;
        background: linear-gradient(135deg,#0B1120,#152238,#1E3A8A);
        display: flex;
        flex-direction: column;
        font-size: 10px;
        gap: 14px;
        margin: 20px;
        padding: 14px;
        transition: right 0.3s ease;
    }
    .dashboard{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-self: center;
        gap: 16px;
    }
    .graph-box{
        display: grid;
        grid-template-columns: 1fr;
        margin: 40px;
    }
    .card{
        padding: 0 4px;
        width: 132px;
        height: 86px;
    }
    .card h3{
        font-size: 16px;
    }
    .card span{
        font-size: 14px;
    }
    .invest{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 0px;
    }
    .fund-detail {
        width: 75%;
        padding: 5px;
    }
    .form{
        padding: 0 100px;
    }
    .prediction {
        padding: 1px 10px;
    }
}


@media (max-width: 500px) {
    .navbar{
        padding: 0 20px;
    }
    .search-input{
        height: 10px;
    }
    h2{
        font-size: 20px;
    }
    .recommend-input {
        display: flex;
        flex-direction: column;
    }
    .dashboard{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
    }
    .card{
        width: 132px;
        height: 86px;
    }
    .graph-box{
        display: grid;
        grid-template-columns: 1fr;
        margin: 40px -10px;
    }
    .invest{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input,select,option{
        margin: 0 0 14px 0px;
    }
    .form{
        padding: 0 60px;
    }
    .button{
        padding: 10px;
        margin: 0px 0 20px 0;
        font-size: 10px;
    }
    .predict-result{
        margin: 14% 7%;
    }
    .prediction {
        padding: 1px 25px;
    }
    .fund-button {
        display: flex;
        justify-content: space-evenly
    }
    .middle-list {
        position: relative;
        display: flex !important;
        gap: 18px;
        left: -15px;
    }
    .fund-main-info {
        display: flex;
        gap: 0px;
        margin: -20px;
    }
    .upper-list-info {
        left: -20px;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .view-fund-detail{
        padding: 1px 0 0 0;
    }
    .view-fund-detail .button{
        margin-top: 10px;
    }
}

@media (max-width: 320px){
    .logo{
        font-size: 21px;
    }
    .search-input{
        height: 10px;
    }
    .predict-result{
        margin: 14% 7%;
    }
    .prediction{
        padding: 1px 25px;
    }
    .middle-list {
        position: relative;
        display: flex !important;
        gap: 18px;
        left: -17px;
    }
    .fund-main-info {
        display: flex;
        gap: 0px;
        margin: -20px;
    }
    .upper-list-info {
        left: -20px;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .view-fund-detail{
        padding: 1px 0 0 0;
    }
    .view-fund-detail .button{
        margin-top: 10px;
    }
}
